* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #9cb2c7;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../images/beach.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    

   }

header h1 {
   font-size: 48px;
}

header li {
   text-align: right;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style-type: none;
    text-decoration: solid underline;

}
header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.05vw;
}
a {
    color: white;
    text-decoration: none;
}


p {
    font-size: 16px;
}

.float-left{
   
}


/* Resize images */
img {
width: 250px;
height: auto;
padding: 25px 15px 25px 15px;
 
}

.resume p {
    color: blue;
    text-decoration: underline;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

footer h2 {
    font-size: 12px;
    text-align: right;
}

section {
    padding: 0 60px;
    
  }
  
 