:root {
    --darkblue:  darkblue;
    --lightblue: #9cb2c7;
}


* {
    box-sizing: border-box;
    padding: 0;
 
  }
  
  body {
   
    padding: 30px;
    background: linear-gradient(100DEG, rgba(61, 211, 148, 0.4), rgba(73, 88, 175, 0.4));
    overflow-y: scroll;
   
  }
  
  header {
    padding: 5px 20px 10px 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../images/muir-woods.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly ;
    flex-wrap: wrap;
    border-style: ridge;
    border-width: 3px;
    border-radius: 6px;    
    align-items: flex-start;
    
    
  }


  
  header h1 {
    font-size: 42px;
    color: white;
    text-shadow: 2px 2px 0px rgb(224, 35, 199), 4px 4px 0px #707070;

    
  }
  
  header ul li:hover{
    background: #808080;
    color: white;
    text-shadow: none;
    border-radius: 15px;
  }
  
  header li {
    text-align: right;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    font-weight: bold;
  
  }
  
  nav ul li {
    list-style-type: none;
    text-decoration: solid underline;
    text-align: right;
    
  }
  header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.05vw;
  }

  a {
    color:white;
    text-decoration: solid;
  }
  
  
  p {
    font-size: 16px;
    
  }
  
  .content h2 {
    text-decoration: underline;
    color: var(--darkblue);
    text-align: left;
  }
  
  .about-me-text{
    color: rgb(252, 247, 247);
    font-size: 20px;
  }

  /* Resize about me images */
  #about-me img {
  width: 250px;
  height: auto;
  padding: 25px 15px 25px 15px;
  
  }
  #about-me h2{
    padding-top: 25px;
  }

  .hero{
    border-width:3px;  
    border-bottom-style:groove;
    margin-left: 35px;
    margin-right: 25px;
  }

.project {
    width: 100%;
    height: auto;
    padding: 25px 15px 25px 15px;
  }

  .projectcontainer{
   width:60%;
   height: 300px;
   background-position: center;
   background: url("../images/hero-bg.jpg");
   background-size: cover;
   text-align: center;
   border-style: solid;
   border-color:teal ;
   border-radius: 25px;   
  
    }

    #work{
      border-width:3px;  
      border-bottom-style:groove;
      margin-left: 35px;
      margin-right: 25px;
    }

    
  .smallphotostwo{
    width: 200px;
    height: 200px;
    padding: 0 135px 0 135px;
    background-position: center;
    background: url("../images/laptop.jpeg") ;
    background-size: cover;
    text-align: center;
    border-style: solid;
    border-color:teal ;
    border-radius: 25px;   
    display: flex;
    flex-direction: row;
   
    -webkit-filter: blur(1px); 
    float: left;
    justify-content: space-between;
         }
 
  .smallphotosthree{
    width: 200px;
    height: 200px;
    padding: 0 135px 0 135px;
    background-position: center;
    background: url("../images/moodboost2.png") ;
    background-size: cover;
    text-align: center;
    border-style: solid;
    border-color:teal ;
    border-radius: 25px;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
 
        
            }

  .smallphotosfour{
    width: 200px;
    height: 200px;
    padding: 0 135px 0 135px;
    background-position: center;
    background: url("../images/weather.png") ;
    background-size: cover;
    text-align: center;
    border-style: solid;
    border-color:teal ;
    border-radius: 25px;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
           
                  
 }

 .smallphotosfive{
  width: 200px;
  height: 200px;
  padding: 0 135px 0 135px;
  background-position: center;
  background: url("../images/Untitled.png") ;
  background-size: cover;

  border-style: solid;
  border-color:teal ;
  border-radius: 25px;   
  display: flex;
  flex-direction: row;
  justify-content: space-between;   
         
 }

 .smallphotossix{
  width: 200px;
  height: 200px;
  padding: 0 135px 0 135px;
  background-position: center;
  background: url("../images/workday.png") ;
  background-size: cover;
  text-align: center;
  border-style: solid;
  border-color:teal ;
  border-radius: 25px;   
  display: flex;
  flex-direction: row;
  justify-content: space-between;   
         
 }

.contact-me-text{
  color: teal;
}                  
          
  .resume p {
    color:var(--darkblue);
    text-decoration: underline;
  }

  .card{
    border-width: 10px;
  }
  
  footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
  
  footer h2 {
    font-size: 12px;
    text-align: right;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  section {
    padding: 0 ;
    
  }
  
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
     
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
     
    }
  
    footer h2 {
      text-align: center;
      width: 100%;
    }
    
    
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
      .container h2 {
        flex: 1 100%;
        text-align: center;
      }
    
      .projectcontainer p {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
      }
    
      
         
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
   
    .section-title {
      width: 95%;
    }
  
    .container {
      flex: 0 100%;
    }
  
    .container h2 {
      text-align: center;
    }
  
    #contact-me p {
       text-align: center;
    }
 
    #resume p {
      text-align: center;
   }
    .work img {
      text-align: center;
    }
  
  }